:root {
  --cc-color-primary: #3f51b5;
  --cc-color-base: #536dfe;
  --cc-color-base-light: #536dfe3d;
  --cc--color-bg: #dee3e7;

  --cc-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.102);

  --color-border: 1px solid rgba(60, 60, 60, 0.12);
  --color-border-item: 1px solid #e9e9eb;
  --cc-color-item: #bdbdbd;

  --cc-color-text-primary: #2c3e50;
  --cc-color-text-base: #fff;
  --cc-color-text-active: var(--cc-color-base);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--cc-color-text-primary);
  overflow-x: hidden;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
