@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--cc-color-text-primary);
  transition: 0.4s;
  padding: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
